<article class="post">
      <div class="title" style="background-color: #e3f2fd; display: flex; justify-content: space-between;">
        <a href="/post/{{id}}"><span>{{title}}</span></a>
        <span>Posted by {{user.username}} on
        {{format_date created_at}}
        </span>
      </div>
      <div>
          {{content}}
      </div>
      <div class="meta">
        <a href="/post/{{id}}">{{format_plural "comment" comments.length}}</a>
      </div>
      
      
    </article>